$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-Event-mark-path1: "\e900";
$icm-Event-mark-path2: "\e901";
$icm-Event-mark-path3: "\e902";
$icm-Event-mark-path4: "\e903";
$icm-Event-mark-path5: "\e904";
$icm-Event-mark-path6: "\e905";
$icm-Event-mark-path7: "\e906";
$icm-Event-mark-path8: "\e907";
$icm-Event-mark-path9: "\e908";
$icm-Event-mark-path10: "\e909";
$icm-Event-mark-path11: "\e90a";
$icm-Event-mark-path12: "\e90b";
$icm-Event-mark-path13: "\e90c";
$icm-Event-mark-path14: "\e90d";
$icm-facebook: "\e90e";
$icm-gems: "\e90f";
$icm-goal: "\e910";
$icm-handshake: "\e911";
$icm-idea: "\e912";
$icm-instagram: "\e913";
$icm-interview: "\e914";
$icm-linkedin: "\e915";
$icm-mail: "\e916";
$icm-Marketing-srtategy-path1: "\e917";
$icm-Marketing-srtategy-path2: "\e918";
$icm-Marketing-srtategy-path3: "\e919";
$icm-Marketing-srtategy-path4: "\e91a";
$icm-Marketing-srtategy-path5: "\e91b";
$icm-Marketing-srtategy-path6: "\e91c";
$icm-Marketing-srtategy-path7: "\e91d";
$icm-Marketing-srtategy-path8: "\e91e";
$icm-Marketing-srtategy-path9: "\e91f";
$icm-Marketing-srtategy-path10: "\e920";
$icm-Marketing-srtategy-path11: "\e921";
$icm-Marketing-srtategy-path12: "\e922";
$icm-Marketing-srtategy-path13: "\e923";
$icm-next: "\e924";
$icm-phone: "\e925";
$icm-pin: "\e926";
$icm-placeholder-filled-point: "\e927";
$icm-play: "\e928";
$icm-strategy: "\e929";
$icm-team: "\e92a";
$icm-telegram: "\e92b";
$icm-youtube: "\e92c";
$icm-analysis: "\e92d";
$icm-arrows: "\e92e";
$icm-asset-management: "\e92f";
$icm-close: "\e930";
$icm-Commutications-path1: "\e931";
$icm-Commutications-path2: "\e932";
$icm-Commutications-path3: "\e933";
$icm-Commutications-path4: "\e934";
$icm-Commutications-path5: "\e935";
$icm-Commutications-path6: "\e936";
$icm-Commutications-path7: "\e937";
$icm-Commutications-path8: "\e938";
$icm-Commutications-path9: "\e939";
$icm-confirm: "\e93a";

