
/*
										 ---HEADER---
*/

$header-top-height: 80px; 
$header-middle-height: 50px; 
$header-bottom-height: 50px;
$header-min-menu: 60px;

.header{
	top: 0;
	z-index: 110;
	right: 0;
	left: 0;
	//position: relative;
	position: fixed;
	//pointer-events: none;
	transition: 0.3s ease;
	&:not([class*="bg-color"]){
		background-color: transparent;
	}
	@media (min-width: 992px){
		&.down.scrolled{
			top: -80px;
		}
	}
	*{
		//pointer-events: auto;
	}
	@media (max-width: 991px){
		//position: fixed;
	}
	&.relative{
		position: relative;
		.header-top{
			box-shadow: none;
			border-bottom: 1px solid $color-gray-3;
		}
	}
	@media (max-width: 991px){
		display: none;
	}
}

.header-hidden{
	position: relative;
	height: $header-top-height;
	//transition: height 0.3s linear 0.4s;
	background-color: transparent;
	display: none;
	@media ( max-width: 991px ){
		height: 60px;
		display: none;
	}
	&.block{
		display: block;
	}
	&.header-pages{
		display: block;
	}
	&.model-car-card{
		height: 110px;
	}
}

.header-top-hover{
	background-color: white;
	@extend .shadow-row;
	path{
		fill: $color-1;
	}
	a{
		color: $color-font-def;
	}	
}

.header-top{
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	color: white;
	border-bottom: 1px solid rgba(white, 0.2);
	&:hover{
		@extend .header-top-hover;
	}
}
.header-top-content{
	height: $header-top-height;
	//overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	position: relative;
	overflow: visible;
	.align-center{
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	@media(max-width: 1439px){
		font-size: 11px;
	}
	.menu{
		@media (min-width: 1170px){
			width: 440px;
		}
	}
}
.header-lang{
	position: relative;
	.header-lang-wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;                                             
		height: 100%;
		a{
			margin-top: 2px;
			margin-bottom: 2px;
			font-weight: 600;
			display: block;
		}
	}	
}
.header-bottom{
	margin-top: -30px;
}
.header-logo{
	flex-shrink: 0;
	text-align: center;
	img{
		width: 150px;
	}
	svg{
		width: 70px;
		//height: 40px;
		color: white;
	}
}

.header-scroll{
	.header-top{
		transform-origin: 50% 0;
		*{
			//overflow: visible;
		}
	}

	.header-top, .header-top-content, .header-logo{
		transition: all 0.3s ease; 	
	}
	&.scrolled, &.white-style.header{
		.min-menu-top{
			.min-menu-logo{
				color: $color-1;
			}
		}
		.header-top{
			background-color: white;
			@extend .shadow-row;
			.header-logo{
				svg{
					color: $color-1;
				}
			}
			a{
				color: $color-font-def;
			}
		}
	}
}



.menu{
	position: relative;
	height: 100%;
	font-size: em(15);
	@media (max-width: 1441px){
		font-size: 12px;
	}
	@media (max-width: 991px){
		display: none;
	}
	ul.menu-list{
		white-space: nowrap;
	  display: flex;
	  z-index: 1;
	  align-items: center;
		height: 100%;
		font-weight: 500;
		@extend .letter-none;
		margin-left: -15px;
		margin-right: -15px;
		& > li{
			letter-spacing: 0;
			display: inline-block;
			//position: relative;
			height: 100%;
			text-align: center;
			& > a{
				display: flex;
				align-items: center;
				height: 100%;
				padding: 8px 15px;
				//min-width: 115px;
				justify-content: center;
				position: relative;
			}

			&.active{
				color: $color-1;
			}
			a{
				&:before{
					@extend .clafclear;
					height: 2px;
					left: 15px;
					bottom: -2px;
					transition: 0.4s ease;
					background-color: $color-1;
					transform: scaleX(0);
					width: calc(100% - 30px);
				}
				&:hover, &.hover, &.subdown-active{
					//color: white;
					&:before{
						opacity: 1;
						transform: scaleX(1);
					}
					.sub-menu-1{
						transform: scale(1);
						opacity: 1;
					}
					&, li, a, .sub-menu-1{
						pointer-events: auto;
					}
				}
			}
		}
	}
	&>li{
		display: inline-block;
		&>a{
			transition: all 0.3s ease;
			position: relative;
			z-index: 2;
		}
	}
}
.subdown{
	//background-color: white;
	color: $color-font-def;
	position: absolute;
	left: 0;
	top: 80px;
	white-space: normal;
	text-align: left;
	width: 100vw;
	height: calc(100vh - 80px);
	border-top: 1px solid $color-gray-1;
	transition: 0.3s ease;
	opacity: 0;
	pointer-events: none;
	transform: translateY(10px);
	&.subdown-active{
		opacity: 1;
		pointer-events: auto;
		transform: scale(1);
	}
	.bg-shadow{
		@extend .clafclear;
		background-color: rgba($color-1, 0.4);
		left: 0;
		top: 0;
		z-index: -1;
		width: 100vw;
		height: 100vh;
	}
	.subdown-wrapper{
		z-index: 1;
		//background-color: white;
		height: 100%;
		overflow-y: auto;
		//pointer-events: none;
		//*{
		//	pointer-events: auto;
		//}
	}
	.item{
		.title-content{
			//font-size: 16px;
		}
	}
}
header{
	.footer-soc{
		.fa-paper-plane{
			border: 2px solid currentColor;
		}
	}
}
.subdown-footer{

}
.subdown-footer-items{
	display: flex;
	figure{
		color: white;
		position: relative;
		width: 100%;
		.img-content{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-position: center;
			background-size: cover;
			padding-bottom: 25%;
		}
		.desc-content{
			padding: 65px 80px;
		}
	}
	@media (max-width: 1600px){
		h2{
			font-size: em(30);
			line-height: 114%;
			letter-spacing: -.02em;
		}
	}
}
.subdown-item{
	background-color: white;
}
.subdown-item-wrapper{
	padding: 60px 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
}
.subdown-menu-items{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
	padding-right: 60px;
	flex: 1;

	.item{
		//flex
		flex-basis: 25%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
	}
	li{
		display: block;
		margin-top: 13px;
		margin-bottom: 13px;
	}
	a{
		display: inline-block;
		@extend .hover-aunderline;
		&:before{
			bottom: -1px;
		}
		&:hover{
			color: $color-font-def !important;
		}
	}
	&.boxes-2{
		//height: calc(100vh - 70px);
		//max-width: 43%;
		max-height: 450px;
		display: block;
		columns: 2;
		.item{
			flex-basis: 50%;
		}
	}
}
.subdown-info{
	max-width: 360px;
	flex-shrink: 0;
	padding-right: 60px;
}
.subdown-right{
	min-width: 25%;
	flex-shrink: 0;
	display: none;
	.img-content{
		padding-bottom: 45%;
		position: relative;
		.img{
			position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	background-size: cover;
    	background-position: 50%;
		}
	}
}
.subdown-ad{
	.desc-content{
		display: block;
		padding: 20px 15px;
		background-color: $color-gray-1;
	}
}
body{
	&.subdown-active{
		overflow: hidden;
		.header-top{
			@extend .header-top-hover;
		}
	}
}











/*
										 ---MIN-MENU---
*/




#min-menu{
	//background-image: url( "../img/other/texture-2.png" );
	//background-color: $color-1;
	background-size: 600px;
	background-position: right;
}
#mm-blocker{
	background-color: rgba($color-1, 0.3);
}
.min-menu-lang{
	li{
		text-decoration: underline;
	}
	.active{
		color: $color-2;
	}
}

.min-menu-footer{
	@media(max-width: 420px){
		flex-direction: column;
	}
}


.min-menu-header{
	transition: top 0.3s ease-in-out 0.3s;
	opacity: 1;
	width: 100%;
	transform: unset; transform: none;
	position: fixed;
	top: 0;
	z-index: 100;
	color: $color-font-def;
	//box-shadow: 0 0 20px 0 black;
	background-color: white;
	font-size: 0.9em;
	border-bottom: 1px solid rgba($color-gray-3, 0.5);
	font-weight: 400;
	&.scrolled, &.white-style{
		position: fixed !important;
		.min-menu-top{
			background-color: white;
		}
		.icon-bar{
			background-color: $color-gray-5;
		}
	}
}
.min-menu-top{
	height: $header-min-menu;
	padding: 0 25px;
}
.min-menu-bar{
	padding: 5px 0;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.bar{
		width: 20px;
	}
	.icon-bar{
		background-color: $color-gray-5;
	}
}
.min-menu-logo-parent{
	height: 100%;
}
.min-menu-logo{
	//padding: 17px 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	//@extend .filter-white;
	color: $color-1;	
	text-align: center;
	svg{
		width: 50px;
	}
	.img{
		background-size: contain;
		background-position: center;
		height: 25px;
	}
}
.mm-navbars-top{
	//background-color: #333;
}

@media (max-width: 991px){
	main, footer{
		transition: all 0.4s ease 0.35s !important;
	}
	.mm-opening{
		.min-menu-header{
			opacity: 0 ;
			top: -200px;
		}
		main, footer{
			transform: translateY(-70px) !important;
			transition: all 0.4s ease !important;
		}
	}
}

.menu-item-cap{
	color: $color-gray-4;
	font-size: 14px;
}
.sub-menu-item{
	.wrapper{
		border-top: 1px solid $color-gray-3;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		&:first-child{
			padding-top: 0;
			border-top: none;
		}
	}
	li{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

// ---MM-MENU---
#min-menu{
	.mm-listview{
		margin: 0;
		margin-top: 20px;
		&>li{
			border-color: transparent;
			a:not(.mm-next){
				border-bottom: 1px solid $color-gray-1;
			}
		}
	}
	.mm-title{
		font-weight: 700;
		color: $color-font-def;
		font-size: 18px;
	}
	.mm-btn{
		border-color: $color-1;
	}
	.mm-next{
		background-color: $color-gray-1;
		&:after{
			border-color: $color-1;
		}
	}
}


.mm-panels{
	li{
		font-size: 14px;
		font-weight: 400;
		color: #333;
	}
	& > .mm-panel{
		padding: 0;
		&:before{
			display: none;
		}
	}
}
.mm-navbar{
	font-size: 13px;
	.close-btn{
		width: 35px;
		height: 35px;
	}

}
.mm-slideout{
	z-index: auto;
}

.mm-navbar{
	position: relative;
	.close-btn{
		position: absolute;
		top: 30px;
		right: 20px;
		font-size: 60px;
		opacity: 0.8;
		[class^="icon"]{
			//box-shadow: 0 0 2px black;
		}
	}
	.min-menu-logo{
		img{
			opacity: 1;
			width: 100px;
			margin-top: 15px;
		}
	}
}
// ---MODAL---
.modal{
	@media(max-width:991px ) {
		.flexalign-i-center{
			display: block;
		}
	}
}
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: $color-font-def;
		width: 42px;
		height: 50px;
		right: -5px;
    top: -5px;
    z-index: 1;
    border-radius: 0 5px;
  	&:focus, &:active{
  		outline: none;
			box-shadow: none;
		}
	}
	.icon-bar{
		background-color: $color-1;
	}
}




.form-def{
	background-color: white;
	color: $color-font-def;
	overflow: visible;
	max-width: 960px;
	border-radius: 10px;
	padding: 0;
	background-position: -200px;
	background-repeat-x: no-repeat;
	//background-size: 30%;
	@media (min-width: 992px){
		padding-left: 350px;
	}
	@media (max-width: 991px){
		background-position: -440px;
	}
	[type="checkbox"]{
		margin-top: 0;
	}
	h2{
		line-height: 100%;
	}
	.form-wrapper{
		padding: 50px 40px;
		overflow: hidden;
		z-index: 1;
		position: relative;
	}
	@media (min-width: 992px){
		min-width: 480px;
	}
	@media (max-width: 991px){
		width: 100%;
		min-width: auto;
	}
	.fancybox-close-small{
		border-radius: 5px;
		background-color: $color-1;
		top: 10px;
		width: 36px;
		height: 36px;
		top: -15px;
		right: -15px;
		&:hover{
			&:after{
				color: white;
			}
		}
		&:after{
			@extend .trans-center;
			color: white;
			font-size: 28px;
			font-weight: 600;
		}
	}
}

.header-op{
	.header-hidden{
		display: none !important;
	}
	.min-menu-header{
		position: absolute;
		background-color: transparent;
		&:not(.scrolled){
			color: white;
		}
	}
	
	.min-menu-bar{
		.icon-bar{
			background-color: white;
		}
	}
	.min-menu-logo{
		svg{
			color: white;
		}
	}
	
	.scrolled{
		.min-menu-logo, .header-phone-btn{
			svg{
				color: $color-1;
			}
		}
		.min-menu-bar{
			.icon-bar{
				background-color: $color-gray-5;
			}
		}
	}
}

.form-success{
	.icon-content{
		text-align: center;
		.fa{
			color: $color-1;
			font-size: 112px;
		}
	}
}

.bar{
	width: 30px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: white;
	height: 2px;
	position: relative;
	display: block;
	margin: 5px 0;
	margin-right: 0;
	&:first-child{
		//margin-top: 14px;
	}
}
.close-content{
	position: relative;
	display: flex;
	z-index: 1;
	align-items: center;
	.text{
		text-transform: uppercase;
		font-weight: 600;
	}
	.btn-close{
		margin-left: 20px;
		width: 30px;
		height: 30px;
		position: relative;
	}
}
.btn-close{
	.icon-bar{
		transform-origin: center;
		position: absolute;
		top: 37%;
		left: 0;
		&:nth-child(1){
			transform: rotate(45deg);
		}
		&:nth-child(2){
			transform: rotate(-45deg);
		}
	}
}