/* 
		_other.scss
*/

/*
										---OTHER---
*/










// ---FANCYBOX---
[data-fancybox]{
	//display: block;
	//position: relative;
	z-index: 1;
	&:focus{
		outline: 0;
	}
}
.fancybox__container{
	@media (min-width: 991px){
		.fancybox__content{
			width: 900px;
		}
		.carousel__button{
			&.is-close{
				right: -40px;
			}
		}
	}
	@media (min-width: 1200px){
		.fancybox__content{
			width: 1200px;
		}
	}
}
.fancybox__content :focus:not(.carousel__button.is-close){
	outline: none;
}
.fancybox__content{
	width: 100%;
}
//thumbs снизу
html{

	.fancybox-show-thumbs .fancybox-thumbs{
		text-align: center;
		display: block;
		background-color: transparent;
		position: absolute;
		width: 100%;
		height: 80px;
		top: auto;
		bottom: 15px;
	}
}
.fancybox-show-thumbs .fancybox-inner{
	right: 0;
}
.fancybox-thumbs > ul > li{
	float: none;
	display: inline-block;
}




// ---FLICKITY---
.carousel-prev-next{
	color: inherit;
	z-index:2;	
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  *{
  	pointer-events: auto;
  }
	.next, .prev{
		font-size: 20px;
		width: 40px;
		border: 0;
		background-color: transparent;
		position: absolute;
		top: 50%;
		//margin-top: -2.25px;
		color: black;
		fill: black;
		&:hover{
			cursor: pointer;
			color: $color-1;
		}
	}
	.next{
		right: 15px;
		text-align: right;
		&.reverse{
			transform: scaleX(-1) translateY(-50%);
		}
	}
	.prev{
		left: 15px;
		&.reverse{
			transform: scaleX(-1) translateY(-50%);
		}
	}
}
.flickity-btn-1{

	.flickity-prev-next-button{
		@extend .owl-btn;
		svg{
			display: none !important;
		}
		font-family: 'icomoon' !important;
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	-webkit-font-smoothing: antialiased;
		&.previous{
			&:before{
				content: "\e902";
			}
		}
		&.next{
			&:before{
				content: "\e909";
			}
		}

	}
	&.flickity-btn-hidden{
		.flickity-prev-next-button{
			opacity: 0.3;
		}
		&:hover{
			.flickity-prev-next-button{
				opacity: 1;
			}
		}
	}
}
.flickity-btn-2{
	.flickity-prev-next-button{
		background-color: #333333;
		width: 40px;
		height: 40px;
		svg{
			transform: scale(1.3);
		}
		.arrow{
			fill: $color-1;
		}
		&:hover{
			.arrow{
				fill: $color-1;
			}
		}
	}
}
.flickity-page-dots{
	margin: 30px 0;
	z-index: 1;
	//margin-bottom: 50px;
	.dot{
		//border: 1px solid white;
		transition: all 0.3s ease;
		background-color: rgba(white, 1);
		opacity: 1;
		border-radius: 50%;
  	width: 10px;
  	height: 10px;
		&.is-selected{
			transform: scale(1);
			background-color: $color-1;
		}
	}
}
.carousel-dots{
	.owl-dot, .dot{
		margin-left: 5px;
		margin-right: 5px;
		width: 40px;
		height: 2px;
		display: inline-block;
		position: relative;
		background-color: rgba($color-5, 0.3);
		&.is-selected, &.active{
			z-index: 2;
			position: relative;
			background-color: $color-5;
		}
	}
}
.flickity-dots-1{
	.flickity-page-dots{
		margin-top: 0;
		margin-bottom: 70px;
		position: relative;
	}
	@extend .carousel-dots;
	.dot{
		border: 1px solid $color-1;
	}

}
.fancybox-caption{
	@extend .container;
	font-family: $font-family-1;
}
.prev-next-dots{
	.carousel-prev-next{
		position: relative;
		.next{
		}
		.prev, .next{
			left: inherit; left: unset;
			right: inherit; right: unset;
			top: 50%;
    	margin-top: -22.5+1px;
		}
		.prev{
			transform: translateX(-100%);
			&.reverse{
				transform: translateX(-100%) scaleX(-1);
			}
		}

	}
}




.carousel-article{
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
	.carousel {
	  margin-bottom: 20px;
	}
	.carousel-cell {
	  width: 100%;
	  height: auto;
	  margin-right: 25px;
	}
	img{
		width: 100%;
	}
	.carousel-main{
		.flickity-viewport{
			border: 1px solid rgba($color-gray-1, 0.2);
			//border-radius: 15px;
			overflow: hidden;
		}
	}
	.carousel-nav{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 2px 5px;
		.carousel-cell{
	  	width: 30%;
			height: auto;
	  	//margin-right: 10px;
	  	border: 2px solid transparent;
	  	transition: all 0.3s ease-out ;
	  	.img-content{
	  		transition: all 0.3s ease-out;
	  		//transform: scale(0.8);
	  	}
	  	&.is-nav-selected{
	  	 //border-color: $color-1;
	  	}
		}
		.is-selected{
			border-color: rgba($color-3, 1);
			.img-content{
				transform: inherit;
			}
		}
	}
	.flickity-prev-next-button.previous{ left: -10px; }
	.flickity-prev-next-button.next{ right: -10px; }
	.flickity-page-dots{
		margin-bottom: -140px;
	
	}
}





.carousel-stand{
	.carousel {
	  background: #FAFAFA;
	  margin-bottom: 40px;
	}
	.carousel-cell {
	  width: 100%;
	  height: 200px;
	  //margin-right: 10px;
	  background: #8C8;
	  border-radius: 5px;
	  counter-increment: carousel-cell;
	  &:before{
		 	display: block;
		  text-align: center;
		  content: counter(carousel-cell);
		  line-height: 200px;
		  font-size: 80px;
		  color: white;
	  }
	}
	.carousel-nav{

		.carousel-cell{
			height: 80px;
	  	width: 100px;
	  	&:before{
				font-size: 50px;
				line-height: 80px;
	  	}
	  	&.is-nav-selected{
	  	 background: #ED2;
	  	}
		}
	}
}









// ---MASONRY---
.grid-img {
  //background: #DDD;
}

/* clear fix */
.grid-img:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-img-item {
  width: #{(100/5) + "%"};
  float:left;
  img{
  	width: 100%;
  }
}
.grid-img-sizer{
	width: #{(100/4) + "%"};
}
.grid-img-item {
  //float: left;
}

.grid-img-item img {
  display: block;
  padding: 3px;
  max-width: 100%;
}



// ---ELEVATEZOOM---
/*
.zoomWindowContainer{
	//width: 600px;
	left: -180%;
	top: -45%;
	position: relative;
}
 */
.zoomContainer{
	z-index: 1;
}
.zoomWindowContainer{
	//width: 800px;
	*{
		border: 5px solid rgba($color-4, 0.5) !important;
		border-radius: 3px;
	}
	left: 15px;
  position: relative;
}





.select2-container--default{
	[class*="_rendered"]{
		line-height: 40px;
		border: 1px solid $color-gray-3;
	}
	[class*="_arrow"]{
		background-color: transparent;
		border-radius: 0;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		@extend .fa;
		@extend .fa-angle-down;
		font-weight: 900;
		b{
			display: none;
		}
	}
	.select2-selection--single{
		border: none;
		border-radius: 0;
		background-color: white;
		height: 40px;		
		&:focus{
			outline: none;
		}
	}
	&.select2-container--open{
		[class*="_arrow"]{
			@extend .fa-angle-up;
		}
	}
	.select2-results__option[aria-selected=true]{
		background-color: inherit;
	}
	.select2-selection__rendered{
		padding-left: 15px !important;
	}
}
.select2-results__options{
	padding-top: 10px;
	padding-bottom: 10px;
}
.select2-results__option{
	padding: 7px 20px;
	color: black;
}

.select2-dropdown{
	@extend .shadow-def;
	font-size: em(14);
	border-color: $color-gray-1;
}




//owl
div.owl-nav{
	@media (max-width: 991px) {
		text-align: center;
	}
	.owl-prev, .owl-next{
		display: inline-block;
	}
}
.owl-dots{
	@extend .carousel-dots;
}
.owl-prev{
	margin-right: 5px;
}
.owl-nav{
	text-align: right;
}
.owl-nav-style-1{
	.owl-nav{
		position: relative;
		display: flex;
		justify-content: center;
		padding-top: 25px;
		padding-bottom: 25px;
		.owl-prev{
			margin-right: 0;
		}
		.owl-dots{
			padding: 5px 15px;
		}
	}
}
.owl-nav-style-2{
	.owl-nav{
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
		pointer-events: none;
		position: absolute;
		*{
			pointer-events: auto;
		}
		@media (min-width: 992px) {
			.owl-prev{
				margin-left: -30px;
			}
			.owl-next{
				margin-right: -30px;
			}

		}
		@media (max-width: 991px){
			top: 0;
			justify-content: center;
			transform: scale(1);
		}
	}
}
.owl-nav-style-3{
	@extend .owl-nav-style-2;
	.owl-nav{
		width: 90%;
    left: 5%;
	}
	.owl-prev, .owl-next{
		opacity: 1;
		transition: opacity 0.2s ease;
		&.disabled{
			visibility: hidden;
		}
		&:hover{
			opacity: 1;
		}
	}
}
.owl-nav-style-2-xs{
	.owl-nav{
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
		pointer-events: none;
		position: absolute;
		*{
			pointer-events: auto;
		}
	}
}
.dots-center{
	.owl-dots{
		text-align: center;
	}
}
.owl-nav{
	position: absolute;
	width: 100%;
	[class*="owl-"].disabled{
		.owl-btn{
			//background-color: $color-gray-1;
			opacity: 0.3;
		}
	}
	.owl-prev{
		top: 0;
		.owl-btn{
			left: 0;
		}
	}

	@media (min-width: 992px) {

	}
	@media (max-width: 991px) {
		position: relative;
		padding: 30px 0;
	}
}
.owl-prev, .owl-next{
	//top: 50%;
	//position: absolute;
}
.owl-btn{
	background-color: rgba($color-1, 1);
	//background-image: $gradient-2;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: inline-block;
	display: flex;
	border-radius: 0;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
	color: white;
	border: 0px solid white;
	border-radius: 50%;
	font-size: 30px;
	&:nth-child(1){
		margin-right: 2px;
	}
	svg{
		width: 20px;
    height: 30px;
	}
	&:hover, &:focus{
		opacity: 1;
		cursor: pointer;
		color: white;
		background-color: $color-1;
	}

	i{
		display: inline-block;
	}
	.arrow{
    transform-origin: 0 0;
	}
}
.owl-btn-2{
	.owl-nav{
    top: 50%;
    display: flex;
    justify-content: space-between;
		transform: translateY(-50%);
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		@media (min-width: 992px){
			.owl-prev{
				//margin-left: -65px;
			}
			.owl-next{
				//margin-right: -65px;
			}
		}
		@media (max-width: 991px){
			top: 0;
			transform: none;
			justify-content: center;
		}
	}
}
.owl-btn-1{
	.owl-nav{
		position: relative;
	}
	.owl-prev{
		margin-right: 0;
	}
	.owl-nav{
		margin-top: 15px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@media (max-width: 991px) {
			justify-content: center !important;
		}
	}
}
.owl-dots-right{
	.owl-dots{
		position: absolute;
		right: 0;
		top: 50%;
		display: flex;
		flex-direction: column;
		right: calc(50vw - 585px);
		.owl-dot{
			width: 15px;
			height: 15px;
			border: 1px solid $color-1;
			background-color: transparent;
			border-radius: 50%;
			margin-top: 5px;
			margin-bottom: 5px;
			&.active{
				background-color: $color-1;
			}
		}
	}
}

// multiselect
.multiselect{
	position: relative;
	display: flex;
	align-items: center;
	min-height: 0;
	font-size: inherit;
	color: $color-1;
}
.multiselect__single{
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	max-height: 2.4em;
	overflow: hidden;
	text-overflow: ellipsis;
}
.multiselect--above{
	.multiselect__content-wrapper{
		top: auto;
    bottom: 100%;
	}
}
.multiselect__tags{
	border: 1px solid $color-1;
	padding: 0 35px 0 15px;
	height: 40px;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 0;
	background: transparent;
	border-radius: 0;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
}
.multiselect__element{
	display: block;
}
.multiselect__select{
	position: absolute;
	width: 40px;
	height: 38px;
	right: 1px;
	top: 1px;
	padding: 4px 8px;
	text-align: center;
	transition: transform .2s ease;
}
.multiselect--disabled .multiselect__select, .multiselect__select{
	top: 50%;
	bottom: 0;
	right: 15px;
	margin-top: -3px;
	padding: 0;
	width: 10px;
	height: 7px;
	background: url(https://www.kia.ru/images/angle-down.svg) 0 50% no-repeat;
}
.multiselect__content-wrapper{
	top: 100%;
	left: 0;
	margin: -1px 0;
	width: auto;
	min-width: 100%;
	max-width: calc(100vw - 30px);
	background: #fff;
	max-height: 320px;
	border: 1px solid $color-1;
	border-radius: 0!important;
	z-index: 50;
	position: absolute;
	overflow: auto;
}
.multiselect__content{
	padding: 10px 0!important;
	min-width: 220px;
	width: 100%;
}
.multiselect__option{
	display: block;
	padding: 12px;
	min-height: 40px;
	line-height: 16px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 15px;
	min-height: 0;
	line-height: 20px;
	color: $color-1;
	white-space: normal;
}
.multiselect__option--selected{
	background-color: $color-gray-1;
}


#snow {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 22;
	pointer-events: none;
	filter: blur(0.5px);
}